extends layout 

block content 

    form(action="/logout", method = "post") 
        button(type="submit") Logout 

    h1 Välkommern tillbaka hit! 
    
        //försöker vara en delete button
         

    h2 ändra lösen