extends layout 

block content 

    form(action="/logout", method = "post") 
        button(type="submit") Logout 

    h1 Välkommern tillbaka hit! 
         

    form(action="", method= "post")
        button(type="submit") ändra lösen
    form(action="", method="post")
        button(type="submit") Ändra användarnamn